[project]
name = "gui-tkinter"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "matplotlib>=3.9.4",
    "pillow>=11.3.0",
    "pyserial>=3.5",
]
